/* заголовок */
.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-rendering: auto;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    line-height: 44px;
    font-size: 40px;
  }
}
