/* заголовок */
.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  text-rendering: auto;
  text-align: start;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
